<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAAhYkRGH3_Uy_iyxOZmtznh5MsfhS02XE</string>
	<key>GCM_SENDER_ID</key>
	<string>313594720991</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.shuhei.journeytracker.BarStatusTracker</string>
	<key>PROJECT_ID</key>
	<string>barstatustracker</string>
	<key>STORAGE_BUCKET</key>
	<string>barstatustracker.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:313594720991:ios:b4e8604a6e11d947eaaf6a</string>
</dict>
</plist>